body {
  font-family: "Poppins", sans-serif;
  background-color: #5f0f4e;
}

.container {
  max-width: 1024px;
  height: 100vh;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.container .imgText {
  width: 500px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container .text {
  color: #ffffff;
  font-size: 32px;
}

.container .imgText .btnDiv {
  margin-top: 32px;
  align-items: center;
  display: grid;
  justify-content: center;
}

.container a {
  background-color: #87bf17;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 24px;
  text-align: center;
}

.container .backImg {
  background-color: #39212e;
  border-radius: 26%;
}

.container .backImg .faby {
  width: 400px;
}

.container .backImgMobile .fabyMobile {
  display: none;
}

.imgGoogle {
  max-width: 1024px;
  margin: -180px auto;
  display: grid;
}

.container .imgText .btnDiv img {
  width: 40%;
  margin: 16px auto;
}
