body {
  font-family: "Poppins", sans-serif;
  background-color: #282727;
}

h1 {
  color: #ffff;
  font-size: 30px;
  text-align: center;
  margin: 64px 0;
  padding: 0 16px;
}
.container1 {
  margin: 100px auto;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}

img {
  width: 360px;
  margin: 0 auto;
}
.container2 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding-bottom: 16px;
  gap: 16px;
}

.container2 .curso {
  width: 248.75px;
  margin-top: 16px;
  border-radius: 10px;
}

.faby {
  width: 278px;
  margin: 0 auto;
}

a {
  width: 260px;
  font-size: 24px;
  color: #ffff;
  text-decoration: none;
  background-color: #138a24;
  border-radius: 50px;
  padding: 0.4em 1.6em;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .faby {
    width: 248.75px;
  }

  .container2 .curso {
    width: 228.75px;
    margin-top: 16px;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .faby {
    width: 248.75px;
  }

  .container2 {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 425px) {
  .faby {
    width: 248.75px;
  }

  .container2 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .container2 .curso {
    width: 174.75px;
  }
}
